/*-------------------------------------------------------------

Fonts

-------------------------------------------------------------*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
    url('../fonts/Raleway-SemiBold.woff') format('woff'),
    url('../fonts/Raleway-SemiBold.ttf') format('truetype'),
    url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
    url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff'),
    url('../fonts/Raleway-Light.ttf') format('truetype'),
    url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


/*-----------------------------------------------------------

General and Layout

---------------------------------------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Raleway', sans-serif;
}

.left{
    float: left;
    text-align: left;
}
.right{
    float: right;
    text-align: right;
}
.middle{
    float: left;
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 1075px;
    border: 1px solid red;
    max-width: 110%;
    padding-left: 10px;
    padding-right: 10px;
}
.col-2-layout::after,
.col-3-layout::after,
.col-2-layout-b::after,
.col-2-layout-c::after{
    content:"";
    clear: both;
    display: block;
}
.col-3-layout .column{
    width: 33.33%;
}
.col-2-layout .column {
    width: 50%;
}
.col-2-layout-b .column-left{
    width: 40%;
}
.col-2-layout-b .column-right {
    width: 60%;
}
.col-2-layout-c .column-right{
    width: 33.34%;
}
.col-2-layout-c .column-left{
    width: 66.66%;
}

img.site-pictures {
    max-width: 100%;
}
a{
    text-decoration: none;
}
a.green{
    background-color: #27C7AB;
    color: white;
}
a.white{
    color: #27C7AB;
    background-color: white;
}

span.green{
    color: #27C7AB;
    font-weight: bold;
}
button.green{
    background-color: #27C7AB;
}
.site-header,
.site-black-chair,
.site-pictures,
.site-form,
.site-footer {
    width: 100%
}
.upper{
    text-transform: uppercase;
}


/*-----------------------------------------------------------

Site Header

---------------------------------------------------------*/
.site-header{
    background-color: #000;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

ul.basic-nav li{
    display: inline;
}
.site-header a {
    color: #fff;

    margin: 0 42px;
    font-weight: bold;
}
.site-header a:last-child{
    margin-right: 0;
}
.site-header:first-child{
    margin-left: 0;
}

.site-header span{
    display: inline-block;

}
.site-header .logo,
.basic-nav {
    padding: 15px 0 9px 0;
    letter-spacing: 0.012em;
}
/*-------------------------------------------------------------------

Section Black Chair

-----------------------------------------------------------------*/
.site-black-chair{
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(242,242,242,1) 38%, rgba(227,223,227,1) 60%, rgba(224,224,224,1) 81%, rgba(201,195,201,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(38%, rgba(242,242,242,1)), color-stop(60%, rgba(227,223,227,1)), color-stop(81%, rgba(224,224,224,1)), color-stop(100%, rgba(201,195,201,1)));
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(242,242,242,1) 38%, rgba(227,223,227,1) 60%, rgba(224,224,224,1) 81%, rgba(201,195,201,1) 100%);
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(242,242,242,1) 38%, rgba(227,223,227,1) 60%, rgba(224,224,224,1) 81%, rgba(201,195,201,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(242,242,242,1) 38%, rgba(227,223,227,1) 60%, rgba(224,224,224,1) 81%, rgba(201,195,201,1) 100%);
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(242,242,242,1) 38%, rgba(227,223,227,1) 60%, rgba(224,224,224,1) 81%, rgba(201,195,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#c9c3c9', GradientType=0 );
}

.black-chair{
    padding-top: 80px;
    width: 550px;
    height: auto;
}
.column-right.right *{
    text-align: center;
}
.column-left.left,
.column-right.right{
    position: relative;
}
.wrapper{
    height: 500px;
    width: 500px;
    margin: auto;
}

.site-black-chair .article-tiile{
    font-size: 40px;
    text-align: center;
    max-width: 400px;
    padding-top: 140px;
    display: inline-block;
}
.site-black-chair article{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    max-width: 400px;
    display: inline-block;
}
.button-see{
    display: inline-block;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 25px;
}
.nav-sign-left a,
.nav-sign-right a{
    color: #27C7AB;
}
.nav-sign-right,
.nav-sign-left {
    position: absolute;
    font-size: 80px;
    top: 190px;
}
.nav-sign-right{
    right: 0;
}
/*-------------------------------------------------------------------

Site Pictures

-------------------------------------------------------------------*/

.site-pictures .box{
    width: 329px;
    height: 250px;
    border: 1px solid #afafaf;
    display: inline-block;
    text-align: left;
}
.site-pictures .container{
    margin-top: 35px;
    margin-bottom: 60px;

}
.site-pictures .column{
    position: relative;
}
.stripe {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 329px;
    height: 55px;
    bottom: 17px;
    text-align: left;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 10px;
}
.green-bar{
    width: 160px;
    height: 7px;
    display: block;
    background-color: #27C7AB;
}

.margarita{
    left: 11px;
}
.box :first-child{
    font-weight: 600;
    margin-top: 25px;
    margin-left: 20px;
}
.box article{
    font-size: 15px;
    color: #5a5a5a;
    padding-left: 20px;
    padding-right: 35px;
    padding-bottom: 15px;

}
.box article:last-child{

}
.box .green-bar{
    margin-left: 20px;
    margin-bottom: 12px;
}

/*-------------------------------------------------------------------

Site Tariff

-------------------------------------------------------------------*/
.site-tariff{
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 90px;
}
.title{
    color: #484848;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.012em;
}
.site-tariff .green-bar{
    width: 30%;
    margin-bottom: 75px;
}
.big-box{
    height: 500px;
    width: 330px;
    border: 2px solid #c2c2c2;
    background-color: #f9f9f9;
    text-align: center;
    position: relative;
}
.big-box.standard{
    margin-left:11px
}
.big-box.advance{
    margin-left: 21px;
}

.plan{
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    color: #27C7AB;
    font-weight: 600;
}
.plan.standard{
    color: white;

}
.price{
    margin: 30px auto;
    border-radius: 50%;
    border: 2px solid #c0c0c0;
    color: #c0c0c0;
    text-align: center;
    height: 130px;
    width: 130px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 0.8em;
}
.price.standard{
    background-color: white;
    border: 1px solid white;
    color: #27C7AB;
}
.price span{
    display: inline-block;
    line-height: 0.8em;
}
.price span.top{
    margin-top: 30px;
}
.price span.small{
    font-size: 16px;
}
.one {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #c2c2c2;
    background-color: #f9f9f9;
    top: -38px;
    left: 135px;
}

.two {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    background-color: #c2c2c2;
    border-radius: 50%;
}

.one.standard{
    border: 1px solid #27C7AB;
    background-color: #27C7AB;
}

.two.standard{
    background-color: white;
}
.tariff-table{
    width: 100%;
}
.tariff-table td{
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 5px;
}
.tariff-table{
    border-collapse: collapse;
}
.tariff-table tr:nth-child(even){background-color: #f1f1f1;
    color: #7b7b7b;}
.tariff-table tr:nth-child(odd){background-color: #e4e4e4; color: #a1a1a1;}

.tariff-table.standard tr:nth-child(even){background-color: #f1f1f1;
    color: #959595;}
.tariff-table.standard tr:nth-child(odd){background-color: #ffffff; color: #959595;}

.big-box a {
    display: inline-block;
    padding: 9px 28px;
    line-height: 20px;
    border-radius: 10px;
    text-transform: uppercase;
}
.button-container{
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.big-box.standard{
    background-color: #27C7AB;
}

/*-------------------------------------------------------------------

Site Form

-------------------------------------------------------------------*/
.site-form{
    margin-top: 30px;
    margin-bottom: 80px;
}
.site-form .green-bar{
    width: 30%;
    margin-bottom: 40px;
}
.site-form label{
    display: block;
}
.site-form .column-right{
    text-align: center;
}
.site-form textarea{
    resize: none;
}

/*-------------------------------------------------------------------

Site Footer

-------------------------------------------------------------------*/
.site-footer{
    color: #7f7f7f;
    margin: auto;
}
.copyright{
    display: inline-block;
    padding-top: 12px;
}
.site-footer .logo{
    font-size: 20px;
    display: inline-block;
    margin-left: 4em;
    padding-top: 9px;
}




